@font-face {
    font-family: 'Regular'; 
    src: url('Inter-Regular.otf');
  }
  
  @font-face {
    font-family: 'Semi'; 
    src: url('Inter-SemiBold.otf');
  }
  
  body {
    background-color: #F2F4F7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em; /* Используем относительные единицы измерения */
    background-color: #FFFFFF;
    color: #FFFFFF;
  }
  
  .logo {
    width: 10%; /* Используем проценты */
    height: auto; /* Автоматический расчёт высоты */
  }
  
  .search {
    flex: 1;
    margin: 0 2em; /* Используем относительные единицы измерения */
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  .search input {
    width: 70%;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #EAECF0;
    height: 25px;
    margin-left: 2em; /* Используем относительные единицы измерения */
  }
  
  .search button, .authbutton, .mainbutton {
    background-color: #FFF;
    color: #333;
    padding: 0.5em 1em;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    margin-left: 1em; /* Используем относительные единицы измерения */
  }
  
  .authbutton {
    border-radius: 10px;
  }
  
  .mainbutton {
    border-radius: 5px;
  }
  
  .centre {
    display: flex;
    justify-content: center;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  .container {
    display: flex;
    position: relative;
  }
  
  .sidebar {
    width: 15%; /* Используем проценты */
    background-color: #FFFFFF;
    padding: 1em;
    color: #5F6980;
    border: 0.5px solid #EAECF0; /* Исправляем ошибку в определении толщины границы */
  }
  
  .sidebar h2 {
    margin-bottom: 1em; /* Используем относительные единицы измерения */
    padding-bottom: 0.5em;
    border-bottom: 1px solid #5F6980;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 0.5em; /* Используем относительные единицы измерения */
  }
  
  .sidebar ul li a {
    color: #5F6980;
    text-decoration: none;
  }
  
  .content {
    position: relative;
    padding: 1em;
    background-color: #AFECDA;
    color: #FFFFFF;
    border-radius: 17px;
    width: 60%;
    height: 50%;
    border-width: 3%;
    margin: 1em;
  }
  
  
  .razblock {
    padding: 0.5em;
    margin-left: 2em; /* Используем относительные единицы измерения */
  }
  
  .supp {
    margin-top: -20px;
    margin-left: 4em; /* Используем относительные единицы измерения */
  }
  
  .top-text, .suppport {
    font-size: 1rem; /* Используем относительные единицы измерения */
    color: #9D9FA1;
  }
  
  .textmenu, .textmen {
    font-size: 1rem;
    color: #5F6980;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .mainbutton {
    background-color: #FFFFFF;
    color: #282828;
    border-radius: 30px;
    position: absolute;
    bottom: 30%; /* Отступ от нижнего края блока .content */
    right: 5%; /* Отступ от правого края блока .content */
    height: 50px;
  }
  
  
  /* Сообщения */
  .undercontent {
    padding: 1%; /* Используем проценты */
    color: #5F6980;
    border-radius: 17px;
    width: 20%; /* Используем проценты */
    height: 3%; /* Используем проценты */
    margin-left: 40%; /* Используем проценты */
    margin-top: 5%; /* Используем проценты */
    margin-bottom: 15%; /* Используем проценты */
    position: absolute;
    bottom: 40%; /* Опускаем блок ниже */
    left: -16%; /* Смещаем влево */
  }
  
  
  /* Описание */
  .analytics-description {
    padding: 1em;
    background-color: #F2F4F7;
    border-radius: 10px;
    margin: 0; /* Убираем внешний отступ */
    text-align: left; /* Выравниваем текст по левому краю */
    margin-left: 47%; /* Смещаем влево */
    margin-top: -10%; /* Смещаем вверх */
    width: 66%; /* Используем проценты для ширины */
  }
  
  .analytics-title {
    font-size: 1.5em;
    color: #333;
    margin-left: 10px;
    margin-bottom: 0.2em; /* Уменьшаем нижний отступ */
  }
  
  .analytics-text {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
  }
  
  /* Адаптивность */
  @media only screen and (max-width: 600px) {
    .analytics-description {
      padding: 0.5em;
      margin: 0.5em;
      width: 90%; /* Уменьшаем ширину на мобильных устройствах */
      margin-left: 5%; /* Уменьшаем отступ слева на мобильных устройствах */
      margin-top: -5%; /* Уменьшаем отступ сверху на мобильных устройствах */
    }
    
    .analytics-title {
      font-size: 1.2em;
    }
    
    .analytics-text {
      font-size: 0.9em;
    }
  }



/* Форма для ввода данных */
.placeholder-form {
    box-sizing: border-box;
    width: 320px;
    margin: 20px auto;
    bottom: 40%; /* Отступ от нижнего края блока .content */
    position: relative; /* Добавляем позиционирование */
    top: 50px; /* Отступ сверху */
    
}
.placeholder-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.placeholder-container input {
    background-color: #FFF;
    border: 2px solid #AFECDA;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px;  
    height: 50px;
    outline: 0;
    padding: 0 20px;
    width: 100%;
}
.placeholder-container label {
    color: #AFECDA;
    font-family: Verdana, sans-serif;   
    background-color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 12px;
    left: 10px;
    background-color: #FFF;
}
.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 11px; 
    background-color: #FFF;
    padding: 2px 10px;
}

.butt {
    border: none;
    margin: auto; /* Центрирование кнопки */
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    background: #AFECDA;
    transition: background 0.5s;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2); 
    font-family: 'Roboto', sans-serif;  
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 35%;
}

.butt:hover {
    background: #83D8B6; /* Изменение цвета при наведении */
}

.apr .apr-action:hover, 
.apr .apr-action:focus {
    background: #000000;
}


.authbutton2 {
position: relative;
background-color: #fff;
  color: #333;
  padding: 0px 0px;
  border: none;
  border-radius: 10px;
  margin-top: 35px;
  cursor: pointer;
  margin-left: -65px;
  top: 8px;
}

.logoutbutton {
position: relative;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin-top: -43px;
  cursor: pointer;
  margin-left: 10px;
  top: -10px;
}